@import "../../../scss/main.scss";

input:-internal-autofill-selected {
  background-color: $myInputColor !important;
  opacity: 0.6;
}

input {
  background-color: $myInputColor;
  opacity: 0.6;
  color: $myInputFontColor !important;
}

.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
  box-shadow: none !important;
}

.form-control.is-valid, .was-validated .form-control:valid {
  box-shadow: none !important;
}