//.mbsc-schedule-event.mbsc-ios.mbsc-ltr.mbsc-timeline-event.mbsc-timeline-event-start.mbsc-timeline-event-end{
//  height: 55px !important;
//}
.mbsc-schedule-event-inner.mbsc-material.mbsc-schedule-event-all-day-inner{
  height: 100%;
}
.ant-spin-blur {
  opacity: 0.9 !important;
}
.md-timeline-height.mbsc-timeline-resource.md-timeline-height.mbsc-timeline-row {
  min-height: 120px !important;
}