input:-internal-autofill-selected{
    background-color: #C4BEF7!important;
    opacity:0.6;
    border:0;
}
input:focus,
input:active{
    outline-width:0px;
    outline:none;
    border:0;
}
.main{
    height: 100vh;
    width: 100vw;
    background-image: url("/src/assets/images/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}
@media screen and (max-width: 280px) {
    .main{
        overflow-y: auto;
        background-color: rgba(146,69,64,255);
    }
}
.content{
    width: 60%;
    margin: 40px auto auto;
}
@media (min-width:992px){
    .content{
        width: 50%;
        margin: 40px auto auto;
    }
}
@media (min-width:992px){
    .content{
        width: 50%;
        margin: 40px auto auto;
    }
}
.SignIn{
    color: white;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size:20px;
}
.SignInDetails{
    color:#C2B8F6;
    font-size:14px;
    font-weight: 500;
}
.checkboxText{
    font-size:14px;
}
.myBtn{
    color: #ffffff;
    background-color: transparent;
    padding:7px 45px;
    border:1px solid white;
    font-weight:500;
    border-radius:8px;
    font-size:13px;
}
.myBtn:hover,
.myBtn:focus,
.myBtn:active{
    color: black;
    background-color: white;
}
.verifyLink{
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: underline !important;   
}
.verifyLink:hover,
.verifyLink:focus,
.verifyLink:active{
    text-decoration: none !important;
    cursor: pointer;
    color:#C2B8F6;
}
.signUpLink{
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none !important;
}
.signUpLink:hover,
.signUpLink:focus,
.signUpLink:active{
    text-decoration: none !important;
    cursor: pointer;
    color:#C2B8F6;
}
.errorMsg{
    background-color: #F64E60!important;
    border-color: #F64E60!important;
    color: #ffffff;
}