.emailSetupForm{
    .form-control:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow:none;
        border-color: #ab82fd !important;
    }    
}
.inputContainer{
    width:160px;
}
