.footerHeading{
    color:#B5B5C3;
    font-size:14px;
    font-weight:600;
}
.footerHeadingLink{
    color:white;
    margin:0 5px;
}
.footerLink{
    color:#B5B5C3;
    margin:0 12px;
}
.footerLink:hover,
.footerLink:focus,
.footerLink:active{
    color:white;
}
.footerHeadingLink:hover,
.footerHeadingLink:active,
.footerHeadingLink:focus{
    color:#c3bdbd;
}

